*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  border: 1px dashed grey;
}
section, 
h2{
  text-align: center;
}

/*
    VISUALIZACION
    -Visualización externa
    Como se comportan los elementos con respecto a lo que los rodea
        ->block
        ->inline
        ->inline-block
        ->none

    -Visualización interna
        -> flexbox
        -> grid

*/

/*
Cajas en bloque y en línea

Si una caja se define como un bloque, se comportará de las maneras siguientes:

  - La caja fuerza un salto de línea al llegar al final de la línea.
  - La caja se extenderá en la dirección de la línea para llenar todo el espacio disponible que haya en su contenedor. En la mayoría de los casos, esto significa que la caja será tan ancha como su contenedor, y llenará el 100% del espacio disponible.
  - Se respetan las propiedades width y height.
  - El relleno, el margen y el borde mantienen a los otros elementos alejados de la caja.

Si una caja tiene una visualización externa de tipo inline, entonces:

  - La caja no fuerza ningún salto de línea al llegar al final de la línea.
  - Las propiedades width y height no se aplican.
  - Se aplican relleno, margen y bordes verticales, pero no mantienen alejadas otras cajas en línea.
  - Se aplican relleno, margen y bordes horizontales, y mantienen alejadas otras cajas en línea.

El tipo de caja que se aplica a un elemento está definido por los valores de propiedad display, como inline y block.
*/

/*
El modelo de cajas CSS completo se aplica a cajas que presentan comportamiento en bloque; las cajas con comportamiento en línea solo usan una parte del comportamiento definido en el modelo de cajas.
*/

/*
Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:
  1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuanta sus dimensiones (width & height)
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
  4. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
  1. Arriba (top)
  2. Derecha (right)
  3. Abajo (bottom)
  4. Izquierda (left)
*/
/* El tamaño total comprende la suma de todas las zonas */

/* Modelo de caja estandar*/

.caja{
    width: 89px;
    height: 80px;
    background-color: #78b0ce;
    font-size: 24px;
    text-align: center;


    /*MARGIN*/
    /* 
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin: 50px 40px 30px 100px;
 */
 margin: 50px;
    /*PADDING*/

padding: 50px;
   
/*BORDER*/
    border: 5px solid rgb(23, 58, 214);

    border-top: 5px dashed darkcyan;
    border-right: 5px dotted darkgoldenrod;
}

/*
MODELO TRADICIONAL, ESTANDAR: Las propiedades width y height, solo afectan al contenido del elemento.
Padding y border, se suman como anchura o altura extra
*/



/*MODELO ALTERNATIVO DE CAJA*/
/*Tomar en cuenta el padding y border para asignar el width*/


